@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins";
  position: relative;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#CF137C;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}
.img{
  height: 300px;
  width: 100px;
  margin-left: 50px;
  margin-bottom: 300px;

}
.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form {
  background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.2px);
-webkit-backdrop-filter: blur(4.2px);
border: 1px solid rgba(255, 255, 255, 0.65);
    position: relative;
    z-index: 1;
    color: white;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    /* From https://css.glass */

  }
  .form .register-form {
    display: none;
    margin-top: 50px;
  }
  

/* Rest of the CSS styles... */

.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #CF137C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border: .1rem solid black;
}
.form button:hover,.form button:active,.form button:focus {
  background: #F7BBE2;
}
.form .message {
  margin: 15px 0 0;
  color: white;
  font-size: 12px;
}
.form .message a {
  color: white;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/*
.home-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .home-button:hover {
    color: white;
    background-color: red;
  }
  .form input,
  .form button {
  width: 100%;
}
*/

@media screen and (max-width: 538px) {
  .form {
    max-width: 300px;
    padding: 30px;
  }
}
@media screen and (max-width: 400px) {
  .form {
    max-width: 280px;
    padding: 25px;
  }
}

@media screen and (max-width: 360px) {
  .form {
    max-width: 250px;
    padding: 20px;
  }
}

